.Nav {
display: flex;
/* justify-content:flex-end; */
padding-right: 1.5rem;
box-sizing: border-box;
width: fit-content;
margin-left: auto;
/* border: 2px solid blueviolet; */

}    
.Nav p {
    margin-top: 1em;
    padding-right: 1em;
}